.row {
  width: 100%;
}
.free {
  background-color: transparent;
}

.busy {
  background-color: #4caf50;
}

.my-ripple-container {
  cursor: pointer;
}

.user-counter {
  border-top: 1px solid grey;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-left: -16px;
}

.delete-button {
  justify-content: center;
}
mat-card {
  background-color: transparent;
  color: black;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  color: gray;
  min-width: 145px !important;
  max-width: 100%;
  margin: 3px !important;
}
