/* .day {
  text-align: center;
  border-right: 1px solid grey;
  border-bottom: 2px solid grey;
  background: white;
  min-height: 45px;
  text-align: center;
  justify-content: center;
} */

.row {
  width: 100%;
}

.currentDay {
  color: rgb(118, 155, 62);
  font-weight: bold;
}

mat-card {
  background-color: transparent;
  color: black;
}
